*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
}
header nav {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #024959;
    display:flex; 
    flex-wrap: wrap;             
}
header nav a{
    color: white;
    padding:20px;    
    text-decoration: none;       
}
.menu-bar{
    display: none;
}
.ico{
    margin-right: 10px;
}
header nav a:hover{
    background-color: #037E8C;
}
section{
    padding: 20px;
    text-align: justify;
}
@media screen and (max-width:800px){
    header nav{
        width: 80%;
        height: 100%;
        margin:0;
        position: fixed;
        display: block;
        left: -100%;
    }
    header nav a{
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
    .menu-bar{
        display: block;
        width: 100%;
        background-color: grey;
    }
    .menu-bar .bt-menu{
        display: block;
        padding: 20px;
        background-color: #024959;
        color:white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.7em;        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing:border-box;        
    }
    .menu-bar .bt-menu{
        display: flex;
        justify-content: space-between;        
    }
}